body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 1200px;
  height: 600px;
  background-color: gray;
  overflow-y: auto;
  position: relative;
}
.tile {
  background-color: #0c3d67;
  color: white;
  font-size: x-large;
  outline: white solid 1px;
}
.hidden {
  visibility: hidden;
}

[gridy-drag-source="true"] {
  opacity: 0.5;
}
